*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    background-image: url('img/login-source.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.body-admin{
    background-image: url('img/index-source.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.myForm{
    
    width: 400px;
    padding: 30px;
    background-color: #ffff;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-shadow: 7PX 13px 37px #000;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 15PX;
  
}


.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 20px;
    margin-bottom: 40px;
    color:  rgb(17 24 39);


}

input{
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #1f53c5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 15px;
}
.header-index-admin{
    background-color: rgb(17 24 39);
    width: 100%;
    display: flex;
    color: white;
}
.login-but{
    border: none;    
    background-color: rgb(103, 197, 103);
    color:white;
    cursor: pointer;
    width: 80%;
    padding: 15px;
    margin: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    border: none;    
    background-color: rgb(76, 156, 76);
    color:white;
    cursor: pointer;   
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.user-name{
    width: 50%;
    padding: 15px;
    
}
.time-config{
    width: 50%;
    padding-left: 80%;
    padding-top:15px ;
    padding-bottom: 15px;
}
.main-admin{
    width: 400px;
    height: 400px;
    padding: 70px;
    background: rgba(255, 255, 255, 0.678);
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    box-shadow: 7PX 13px 37px #000;
    text-align: center;
    justify-content: center;
    align-items: center;
 
   

}

.links-con{
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    float: left;
}

.tabla-usuarios{
   width: 100%;
   float: left;
   margin-bottom: 10px;
   overflow:auto;
}
a{
    margin: 30px;
    list-style: none;
    text-decoration: none;
    color: #000;

}
.but-new{
    background-color: #1f53c5;
    margin: 5px;
    padding: 3px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    color:white;
}

table{
    margin-top:20px;}
.but-new:hover{
    background-color: #1d3e85;
}
.admin-but{
    border: none;    
    background-color: rgb(103, 197, 103);
    color:white;
    cursor: pointer;
    border-radius: 10px;
    width: 80%;
    padding: 15px;
    margin: 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: none;
  
}

.ope-but{
    border: none;    
    background-color:  rgb(17 24 39);
    color:white;
    cursor: pointer;
    border-radius: 10px;
    width: 25%;
    padding: 5px;
    margin: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.ope-but:hover{
    background-color:  rgb(44, 60, 94);
}
.admin-but2{
    border: none;    
    background-color: rgb(103, 197, 103);
    color:white;
    cursor: pointer;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}







.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
   
  }
  
  .customers td, #customers th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
 .customers tr:nth-child(even){background-color: #f2f2f2;}
  
 .customers tr:hover {background-color: #ddd;}
  
 .customers th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }
/* MODAL */

#modal::backdrop{

    background-color: rgba(0,0,0,.55);

}
/* MODAL */

#modal-iniciar{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 14s ease;
    border-radius: 0%;
}






